{% extends "base.html" %}

{% block content %}

    <p>Welcome {{ name }} !!!</p>

    <a href="/logout/">Logout</a>
    <a href="/transact/">sellbuy</a>
  <form method="GET" action=".">
        <table border="0">
			<tr>

            <td><select name="ShareDescrib" onchange="this.form.submit() ">
                <OPTION value>any</OPTION>
                {% for obj in describ_list %}    
                <OPTION>{{obj.describ}}</OPTION>
                {% endfor %}
                </select>
            </td> </tr>
        </table>
    </form>
              <form method="GET" action=".">
        <table border="0">
            <tr>
			<td><select name="branch" onchange="this.form.submit">
				{% for obj in share_filtered %}	
				<OPTION>{{obj.name}}</OPTION>
{% endfor %}
				</select>
			</td>
			</tr>-->
            <tr>
                <td> QTY : <input type ="number" name = "QTY" min = 0> </td>
            </tr>
        </table>
        <input type="submit" value="BUY" />
        <input type="submit" value="SELL" name = "sell"/>
        <input type="hidden" name="next" value="/home" />
    </form>
{% endblock %}