{% extends "base.html" %}

{% block content %}
  <p>Welcome {{ name }}</p>
<table>
  <tr >
    <td>  
      <table><tr><td>
<form method="post" action=".">{% csrf_token %}
    <table>{{ form.as_table }}</table>
       <h5> last updated:<div id="time"></div></h5>
    
    <br><br>

<input type="submit" value="BUY" name="buy" />
  <input type="submit" value="SELL" name = "sell"/>
       
</form></td>
<td width = 550></td>
<td>
<table border=2><tr><td><div id="news">google has launched worlds 1st self driving cars</div></td></tr></table>
</td></tr></table>
    <table height =308 width =1100>
      <tr>
        <td>
        </td></tr></table>

    </td>
    <td>
  <table>
    <tr>
      <td >
        <table border=2><tr><td>
        <div id="demo"></div>
        </td></tr></table>
      </td></tr>
      <tr><td>
       <div id="timer">refresh in : 20</div>
<button type="button" onclick="loadDoc()">refresh</button>

      </td>
    </tr>
  </table>
</td>
</tr>
</table>
<br>
<br>


<script>
function loadDoc() {
 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "http://127.0.0.1:8000/current_price/", true);
  xhttp.send();
  var today = new Date();
document.getElementById('time').innerHTML=today;

 var xhttp2 = new XMLHttpRequest();
  xhttp2.onreadystatechange = function() {var response_data2=xhttp2.responseText;
      document.getElementById("news").innerHTML = response_data2;
  
  };
  xhttp2.open("GET", "http://127.0.0.1:8000/current_news/", true);
  xhttp2.send();
}
  
 
//#################################################################################################
setInterval(function(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {var response_data=xhttp.responseText;
     if(response_data=='0'){loadDoc();}
      document.getElementById("timer").innerHTML = "refresh in : "+response_data+" sec";
  
  };
  xhttp.open("GET", "http://127.0.0.1:8000/timer_update/", true);
  xhttp.send();}, 999);

//################################################################################################3
setInterval(function(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {var response_data=xhttp.responseText;
      document.getElementById("news").innerHTML = response_data;
  
  };
  xhttp.open("GET", "http://127.0.0.1:8000/current_news/", true);
  xhttp.send();}, 5500);

 /*setInterval(function(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "http://127.0.0.1:8000/current_price/", true);
  xhttp.send();}, 25800);
*/
</script>
  
    <br>
{% endblock %}