{% extends "base.html" %}

{% block content %}
<form method="Post" action=".">{% csrf_token %}
    <p>Welcome {{ name }}</p>
    <p>{{ form.as_table }} !!!</p>
    
    {{share}}
</form>
<table border=3>
        
    <tr><td><p>Quntatity</p></td> <td><p>{{qty}}/p></td></tr>
    <tr><td><p>Current Price</p></td> <td><p>{{price}}</p></td></tr>
</table>
    <a href="/logout/">Logout</a>
    <a href="/transact/">sellbuy</a>
  <form method="GET" action=".">
 
        <input type="submit" value="BUY" />
        <input type="submit" value="SELL" name = "sell"/>
        <input type="hidden" name="next" value="/home" />
    </form>
{% endblock %}